
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    background-color: rgb(235, 235, 236);

}

::-webkit-scrollbar{
width: 0px;

}
::-webkit-scrollbar-track{
    background-color: rgb(215, 215, 218);
  
}
::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: rgb(114, 115, 115);
    
    /* background-clip: content-box; */
}


.logo{
    padding: 0.4rem 0rem 0rem 1.34rem;
}
.logo span{
    font-size: 1.20rem;
    position: relative;
    top: -0.5783rem;
    cursor: pointer;
}
nav{
  
    display:flex;
background-color: rgb(134, 134, 230);
width:60rem ;
}
.link{
   
    display: flex;
    position: absolute;
    top: 0.803rem;
   left: 32.90rem;
   font-weight:bold;
}

.link a{
    color: rgba(98, 9, 98, 0.938);
   text-decoration: none; 
   padding-left: 1.15rem;
    font-size: 1rem;
    
}
.link a:hover{
    font-size: 1rem;
    /* text-decoration: underline; */
    color: rgb(246, 245, 247);
}
/*.link button{
    position: relative;
    top: -4px;
    left: 34px;

    border: 1px solid rgb(237, 232, 232);
    padding: 2px 16px;
    border-radius: 10px;
   color: rgb(250, 253, 253);
   font-size: 16px;
  font-weight: bold;
    background: linear-gradient(to right ,rgb(188, 14, 211) 10%,red,rgb(231, 231, 19) 40%,rgb(43, 112, 209));
   animation: slide 3s infinite;
   animation-delay: 10s;
    border: 2px solid white; */
   /* background-image: linear-gradient(to left,rgb(203, 35, 35),white) border-box,linear-gradient(to left,rgb(161, 65, 65),rgb(206, 26, 26)) padding-box; 
 border-image: linear-gradient(to left,blue,white) 1; */
/* }   */

.stop{
    position: relative;
    top: -4px;
    left: 25px;
    padding: 2px 16px;
    border-radius: 10px;
   color: rgb(250, 253, 253);
   font-size: 16px;
  font-weight: bold;
    background: linear-gradient(to right ,rgb(188, 14, 211) 10%,red,rgb(231, 231, 19) 40%,rgb(43, 112, 209));
   animation: slide 3s linear infinite ;
   animation-delay: 10s;
    border: 2px solid white; 
    
}

.go{
    position: relative;
    top: -7px;
    left: 25px;
    text-align: center;
    padding: 3px 11px 3px 10px;
    border-radius: 50%;
   color: rgb(250, 253, 253);
   font-size: 18px;
  font-weight: bold;
    background:green;
   border: 2px solid white;
}
.intro p{
    color: rgb(53, 10, 68);
}
.card{
    position: absolute;
    top: 13%;
    left: 37%;
    height:400px;
    width: 300px;
    background-color: rgb(112, 30, 194);
    border-radius: 20px;
    filter:drop-shadow(1px 2px 6px black) ;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   transition: all 1s ease-in-out;
   
   opacity: 0;
   transform: scale(0.01);
}

#na{
    position: absolute;
    top: 222px;
    left: 40px;
    color: rgb(4, 232, 248);
    text-shadow: 1px 0px 2px cyan;
    font-size: 16px;
}
#ema1{
    position: absolute;
    top: 273px;
    left: 40px;
    color: rgb(4, 232, 248);
    text-shadow: 1px 0px 2px cyan;
    font-size: 16px;
}
.button{
   position:relative;
   top:55px;
   padding: 3.5px 100px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    z-index: 10;
    background-color: rgb(15, 226, 226);
}
.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background:linear-gradient(to right bottom,#e100ff,rgb(30, 30, 207)) ;
    z-index: -10;
    transition: all 0.8s ease-in-out;
}
.button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background:linear-gradient(to top right,rgb(30, 30, 207),#e100ff) ;
    z-index: -10;
    transition: all 0.8s ease-in-out;
}
.button:hover::after{
    left: 50%;
}
.button:hover::before{
    left: 0%;
}

.card img{
  position:relative;
  top: -20px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  z-index: 10;
 

 
  border: 6px solid transparent;
background: linear-gradient(to bottom,black,black) padding-box,linear-gradient(var(--a),cyan,rgb(2, 64, 250),white) border-box;
animation: roll 6s ease-in-out infinite;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes roll {
    50%{
        --a:180deg
    }
    100%{
        --a:360deg
    }
}

#ema{
    position: absolute;
    top: 265px;
    left: 22px;
    color: rgb(158, 156, 156);
    font-size: 20px;
}
#user{
    position: absolute;
    top: 215px;
    left:22px;
    color: rgb(158, 156, 156);
    font-size: 20px;
}
#logout{
    position: relative;
    top: 25px;
    padding: 3px 97px;
     font-size: 20px;
     border-radius: 10px;
     border: none;
     overflow: hidden;
     z-index: 10;
       background-color: #01a9fd;
}
#logout::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  background-color: azure;
    z-index: -10;
    transition: all 0.8s ease-in-out;
}
#logout::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: azure;
    z-index: -10;
    transition: all 0.8s ease-in-out;
}
#logout:hover::after{
    left: 100%;
}
#logout:hover::before{
    left: -50%;
}
#close{
    position: absolute;
    top:0px;
    right: 0px;
    padding: 4px 8px;
     font-size: 20px;
     border-radius:0 20px 0px 0;
     border: none;
     background-color: red;
}

@keyframes slide {
    0%{
        background-position: 50px;
    }
    50%{
        background-position: -100px;
    }
    100%{
        background-position: -250px;
    }
    
}

.toggle{
    position: absolute;
    left: 10px;
    top:490px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(223, 10, 223); */
}
.toggle h3{
    font-size: 19px;
}
#che{
    display: none;
}
.label{
    position: relative;
margin-top: 2px;
margin-left: 20px;
width: 50px;
height: 14px;
border-radius: 20px;
background-color: rgb(80, 76, 76);
position: relative;
pointer-events: none;
padding: 4px;
transition: all 0.3s ease-in-out;
box-shadow: 3px 5px 10px rgba(0, 0, 0,0.2),
     -1px 0px 8px #6e6c6ca8   ;
}
.label::before{
content: "";
position: absolute;
top:15.6%;
left: 7%;
width: 25%;
height: 70%;
/* display: inline-block; */
border-radius: 60%;
background-color: aliceblue;
pointer-events: all;
cursor: pointer;
transition: all 0.5s ease-in-out;

}
.label:hover:before{
    transform: scale(1.1);
}

input[type="checkbox"]:checked +.label::before{
translate: 35px 0;
background-color: rgb(1, 248, 1);
}
#che:checked ~.label{
background-color: cornflowerblue;
}




.containers{
    position: relative;
    right: -14.5rem;
    top: -0.009rem;
    height: 40rem;
    width: 700px;
    background-color: rgb(235, 235, 236);
    /* background-color: #e100ff; */
    padding:0 7px 0 7px;
    overflow-y: scroll;
    margin-bottom: -14.5px;
   
}
/* .containers::-webkit-scrollbar{
    width: 0px;
}
.containers::-webkit-scrollbar-track{
    background-color: #f0f0f0;
}
  .containers::-webkit-scrollbar-thumb{

border: 2px solid transparent;
background-clip: content-box;
  }*/
.search{
   
    position:absolute;
    top: 2.6rem;
    width: 13rem;
    height: 20rem;
    background-color: rgb(230, 217, 203);
   
    overflow-y: scroll;
    scrollbar-width: 0.5rem;
    scrollbar-color:gray ;
    padding:10px;
   cursor: pointer;
  font-family:'Courier New', Courier, monospace
}
.search ul{
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 16px;
    color: purple;
}

.items8{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
   
}
.items1{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
   
}
.items2{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
   
}
.items3{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
   
}
.items4{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
   
}
.items5{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
   
}
.items6{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
   
}
.items7{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
   
}
.search li a{
    text-decoration: none;
}
.items1{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: -100;
}
#search{
    position: absolute;
    left: 18px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: medium;
    border-radius: 5px;
   margin-left: -8px;
  
}
#whats{
    position: relative;
    left: 45.8rem;
    top: 37px;
    color: rgb(10, 236, 25);
    font-size: 20px;
   
}
#mail{
    position: relative;
    left: 36.8rem;
    top: 64px;
    
    color: rgb(237, 32, 5);
  font-size: 20px;
}
.contect{
    /* background-color: rgb(62, 61, 61); */
    width: 60rem;
    height: 10rem;
  background-color: #141d756b;
  
 
}

.search #field{
display:block ;
padding-bottom: 3px;
padding-left: 8px;
font-size: 18px;

font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* #it{
    font-weight:550;
} */
.search #field:hover{
    color: rgb(15, 15, 230);
    background-color:rgb(252, 199, 217);
}
.search::-webkit-scrollbar{
    width: 1px;
}
.search::-webkit-scrollbar-track{
    background-color: rgb(235, 235, 236);
}
.search::-webkit-scrollbar-thumb{
   background-color: gray;
}
.search ul li{
    width: 170px;
}
.hide{
    
opacity: 0;
position: absolute;
z-index: -10000;
}
.show{
    cursor: pointer;
    position: relative;
    opacity: 1;
    z-index: 1000;
}
.contect .sli{
    font-family:"poppins";
    color: rgb(216, 223, 224);
    text-shadow: 0 0 20px rgb(190, 195, 196), 0 0 10px rgb(170, 175, 176), 0 0 5px rgb(171, 175, 176);
     animation: glow 3s infinite ease-in-out;
}
@keyframes glow {
    50%{
        text-shadow: 0 0 10px rgb(13, 201, 230), 0 0 10px rgb(13, 201, 230), 0 0 5px rgb(13, 201, 230);
 
    }
    100%{
        text-shadow: 0 0 25px rgb(5, 217, 249), 0 0 30px rgb(7, 122, 140), 0 0 5px rgb(13, 201, 230);

    }
}

.contect h3{
    position: relative;
    left:750px;
    top: 40px;
    background-color: blue;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    padding: 1px 5px 1px 5px;
}
.contect span{
    color: azure;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
     gap: 20px;
   top: 62px;
  
}
.icon i{
    
    border: 1px solid rgb(243, 238, 238);
    padding: 2px;
    border-radius: 50%;
    transition: all 3s ease-out;
    /* position: absolute;
    top: 1.9px; */
    
}



#facebook{
 color: blue;
 font-size: 22px;
 background-color: azure;
 
}
 
#facebook:hover{
    transition: all 0.5s ease-in-out;
box-shadow: 0px 1px 8px 8px rgb(43, 43, 226);
}

#instragram{
    color: white;
    font-size: 22px;
background:linear-gradient(to top left,rgb(213, 217, 6) 10%,rgb(232, 6, 32) 40%,red,rgb(196, 13, 196),rgb(37, 37, 184),rgb(185, 4, 179) );
     /* background-clip: text; */
    padding: 2px 4.2px;
  border-color: #f1f1ee;
    
}
#instragram:hover{
    box-shadow: 0px 2px 8px 6px rgb(229, 19, 99); 
    transition: all 0.5s ease-in-out;
}

#google{
    color: rgb(25, 229, 59);
    font-size: 16px;
    background: rgb(26, 27, 27);
    padding: 4px 5px;
     
}
#google:hover{
    box-shadow: 0px 2px 8px 6px rgb(44, 195, 51);
    transition: all 0.5s ease-in-out;
}

#youtube{
    color: rgb(232, 13, 20);
    font-size: 18.6px;
    background: azure;
    padding: 3.4px 2.5px;
     border-color: rgb(250, 249, 249);
}
#youtube:hover{
    box-shadow: 0px 2px 8px 8px rgb(229, 41, 47);
    transition: all 0.5s ease-in-out;
}
#github{
    color: rgb(194, 5, 194);
    font-size: 23px;
   
    background-color: rgb(13, 14, 14);
     
}
#github:hover{
    box-shadow: 0px 2px 8px 8px rgb(238, 13, 219);
    transition: all 0.5s ease-in-out;
}

.box{
    position: relative;
    top: -50px;
    left: 20px;
    width: 250px;
    height: 30px;
}
#question{
  
    width: 220px;
    height:25x;
    padding-left: 5px;
    outline-color: blue;
    font-family: "Poppins";
    font-size: medium;
    border: 2px solid;
    border-color:rgb(17, 217, 30);
    border-radius: 5px;
    
}
.position{
    position: relative;
    top: -30.5px;
    left: 238px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    
    /* background-color: #161a20; */
    color: #f0f0f0;
    border: 2px solid transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(to bottom right,#161a20,#161a20) padding-box,linear-gradient(to bottom right,#008cff,#e100ff) border-box ;

}
.position:hover{
    background:linear-gradient(to bottom right,#008cff,#e100ff) padding-box,linear-gradient(to bottom right,#008cff,#e100ff) border-box ;

}
.search li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2px;
    width: 100px;
}
.search li:hover{
    background-color: rgb(230, 207, 180);

}

#css li{
    padding-top: 7px;
}

/* #queen:hover+#gh{
    animation: none;
    
} */

#queen:hover~#gh{
    animation: none;
    
}

#queen {
  font-size: 17px;
  /* text-shadow:1px 1px 2px #09a4f2; */
position: absolute;
    top: 780px;
    left: 50px;
   
  cursor: pointer;
 border: 2px solid white;
 padding: 2px 20px 2px 40px;
 border-radius: 10px;
 box-shadow:2px 6px 20px rgba(173, 171, 171, 0.808) , 6px 13px 13px rgb(22, 22, 22);
 animation: heart 1s linear infinite;
}

@keyframes heart{
    0%{
        transform: scale(1);
        background-color: none;
    }
    20%{
        transform: scale(1);
        background-color: none;
    }
    40%{
        transform: scale(1.12);
        background-color: none;
    }
    60%{
        transform: scale(1.09);
        background-color: #da1254;
   
    }
    80%{
        transform: scale(1.12);
        background-color: none;
    }
    100%{
        transform: scale(1);
        background-color: none;
    }
}

.fa-inbox{
    position: absolute;
    top: 786px;
    left: 62px;
z-index: 1;
animation: heart1 1s linear infinite;
/* color: aliceblue; */
}
button{
    cursor: pointer;
}
#queen:hover{
    /* font-size: 15.1px;
text-shadow:2px 1px 10px rgb(16, 182, 228); */
background-color: #273956;
color: aliceblue;
border: 2px solid white;
animation: none;
transform: scale(1.1);
}

@keyframes heart1{
    0%{
        transform: scale(1);
    
    }
    20%{
        transform: scale(1);
      
    }
    40%{
        transform: scale(1.12);
   
    }
    60%{
        transform: scale(1.09);
      
    }
    80%{
        transform: scale(1.12);
  
    }
    100%{
        transform: scale(1);
     
    }
}

#queen:active{
    color: #565557;
    animation: none;
}

.introadd{
    position: absolute;
    opacity: 0;
    transform: scale(0.0001);
}

.card2{
    position: absolute;
    top: 503px;
    left: 35%;
    transition: all 0.78s ease-in-out;
    transform: scale(0.01) ;
    opacity: 0;
}

.card2 button{
    position: relative;
    top: 4px;
    z-index: 100;
    left: 294px;
    border: none;
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
}

.container{
    margin-top: -10px;
  border: 4px solid burlywood;
  border-radius: 13px;
    width:280px ;
    height: 250px;
    background-color: aliceblue;
padding: 0px 10px;
}
.head{
   position: absolute;
   left: 4px;
border-radius: 10px 10px 0 0;
    width: 300px;
    height: 40px;
    text-align: center;
    background-color: aqua;
}


.content{
   width: 280px;
   height: 210px;
   background-color: rgb(20, 21, 59);
   overflow-y: scroll;
   scrollbar-width: none;
 margin-top: 40px;
 margin-left: -10px;
  font-family: Arial, Helvetica, sans-serif;
 padding: 0px 10px;
 border-radius:0 0 10px 10px ;
}




.head font{
    font-family: monospace;
   position: relative;
   top: 8px;
   font-size: 20px;
   color: blue;
}




.jarvis{
    position: relative;
   color: white;
    background-color: blueviolet;
    padding: 3px;
    border-radius: 0 5px 5px 5px;
    width: 130px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 10px;
}


.me{
    color: white;
  position: relative;
  margin-top:2px;
  right: -147px;
  width: 130px;
    padding: 3px 3px 3px 3px;
    background-color: rgb(11, 248, 86);
    border-radius:  5px 0 5px 5px;
 margin-bottom:2px;

 overflow-y: scroll;
 scrollbar-width: none;
}
.jarvistime{
    position: relative;
    top: -15px;
    left: 5px;
z-index: 100000;
  color: #008cff;
font-size: 8.5px;
}
.metime{
    position: relative;
    top: -6px;
    right: -198px;
    z-index: 10000;
   color: #008cff;
    font-size: 8.5px;
    
}

a{
  color: rgb(247, 248, 250);
}


.text{
    background-color: rgb(175, 228, 210);
    width: 500px;
    height: 240px;
 
}
.main{
    position: relative;
    top: -30px;
    width: 500px;
    height: 210px;
}

.button4{
    position: relative;
    top: 5px;
    left: 330px;
    height: 25px;
    padding: 1px 20px;
  z-index: -1;
}
#copy{
    position: relative;
    top: 3px;
    left: 350px;
    height: 25px;
    padding: 1.5px 10px;
    font-size: 23px;
    color: aliceblue;
    z-index: 1000;
}
#copy:hover{
    background-color: rgb(79, 79, 77);
}

.copyok{
    border-radius: 3px;
    position: absolute;
    left: 415px;
    background-color: rgba(9, 189, 9, 0.901);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 2px 10px;
    top: 48px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.8s ease-in-out;
   z-index: 100;
}
.copyok1{
    border-radius: 3px;
    position: relative;
    left: 620px;
    background-color: rgba(9, 189, 9, 0.901);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 2px 10px;
    top: -60px;
    opacity: 0;
    transition: all 0.8s ease-in-out;
   z-index: 100;
}

.ul{
display: flex;
font-size: 30px;
column-gap: 15px;
background-color: rgb(53, 51, 51);

}
.basichtml .ul{
    width: 460px;
}
.one1{
color: red;
}
.one2{
color: rgb(246, 255, 0);
}
.one3{
color: rgb(0, 255, 55);
}
.basichtml{
  position: relative;
  width: 300px;
  left: 100px;
}
textarea{
    position: absolute;
    resize: none;
    opacity: 0;
    transform: scale(0.001);
    color: black;
}



/* dark mode */
.conback{
    background-color:rgb(13, 25, 48);
     color: cyan;
}
.contback{
   background-color: #da1254;
}